html {
  font-family: Georgia, serif;
  background-color: #ffe500;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav a {
text-decoration: none;
display: inline-block;
}

body {
  margin: 0;
}

nav ul {
  list-style-type: none;
}

h1 {
  font-family: "Sigmar One", cursive;
  color: #cc1465
}

header {
  text-align: center;
}

.berries {
  font-family: "Sigmar One", cursive;
  color: #cc1465
}

main {
  background-color: #fff;
}

footer {
  text-align: center;
}

img {
  width: 100%
}
