html {
  font-family: Georgia, serif;
  background-color: #ffe500;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  margin: 0;
}

header {
  text-align: center;
}

h1 {
  font-family: "Sigmar One", cursive;
  color: #cc1465
}

ul {
  padding: 0;
  display: inline-block;
}

nav ul {
  list-style-type: none;
  display: inline-block;
}

nav a:hover {
  display: inline-block;
}

nav a {
text-decoration: none;
}

main {
  background-color: #fff;
  padding-top: 1.875rem;
  padding-bottom: .75rem;
  padding-right: .75rem;
  padding-left: .75rem
}

.berries {
  font-family: "Sigmar One", cursive;
  color: #cc1465
}

img {
  width: 100%;
}

footer {
  text-align: center;
  padding-top: .75rem;
}
