html {
  font-family: Georgia, serif;
  background-color: #ffe500;
  line-height: 1.5;
  box-sizing: border-box;
  color: #2f2d13;
}

*, *::before, *::after {
box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  text-align: center;
}

h1 {
  font-family: "Sigmar One", cursive;
  color: #cc1465;
  font-size: 3rem;
  margin: 0;
}

ul {
  padding: 0;
  display: inline-block;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

nav .current {
  background-color: #b20953;
}

nav a:hover {
  background-color: #b20953;
}

nav a {
  text-decoration: none;
  background-color: #b2a212;
  border-radius: .3em;
  padding: .75em;
  margin-left: .3em;
  color: #fff;
}

main {
  background-color: #fff;
  padding-top: 1.875rem;
  padding-bottom: .75rem;
  padding-right: .75rem;
  padding-left: .75rem;
}

.berries {
  font-family: "Sigmar One", cursive;
  color: #cc1465;
  font-size: 1.125rem;
}

img {
  width: 100%;
  display: inherit;
}

footer {
  text-align: center;
  padding-top: .75rem;
}
